.blog__breadcrumb {
  grid-area: a;
}

.breadcrumb_container {grid-area: a;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3rem;
}

.breadcrumb_link {
  color: var(--dark-gray);
  font-size: 1rem;
}

.breadcrumb_chevron {
  margin: 0 1rem;
  color: var(--dark-gray);
  font-size: 0.75rem;
}

.arrow__container {
  margin: 0 0.75rem;
}

.arrow {
  border: solid var(--dark-gray);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
