@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;
  --color-main: #282a35;
}

html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: sans-serif;
  overflow-y: scroll;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #282a35;
  font-family: "Manrope", sans-serif;
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
}

a {
  background-color: transparent;
  color: black;
  font-weight: 600;
  text-underline-offset: 2px;
  font-size: 1.25rem;
  text-decoration: none;
}

b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

h1 {
  margin: 0;
  margin-bottom: 1.5rem;
  padding: 0;
  line-height: var(--line-height-dense);
  letter-spacing: -0.01em;
}

img {
  border-style: none;
  max-width: 100%;
}

hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: calc(var(--space-4) - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}

* {
  box-sizing: inherit;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

blockquote *:last-child {
  margin-bottom: 0;
}

li *:last-child {
  margin-bottom: 0;
}

p *:last-child {
  margin-bottom: 0;
}

p {
  font-size: 1.05rem;
  line-height: 1.75rem;
}

/* мои стили */
.page-container {
  /* position: relative;
  min-height: 100vh; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Ensures it takes up full viewport height */
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 2rem;
}

main {
  margin: 0;
  padding: 3rem 0;
  flex-grow: 1;
}

/* BLOG STYLES */
.blog {
  margin: 5rem 0 7rem 0;
  grid-column: 3 / -3;
  display: grid;
  grid-template-areas:
    "a a a a"
    "b c c c";
}

.blog__posts {
  grid-area: c;
}

.blog__post {
  margin: 5rem 0;
  grid-column: 3 / -3;
}

.blog__post h1 {
  font-size: 1.75rem;
}

.blog__post-excerpt {
  font-size: 1rem;
  line-height: 1.75rem;
}

@media (max-width: 900px) {
  .blog {
    margin: 2rem 0 3rem 0;
    grid-column: 2 / -2;
    display: flex;
    flex-direction: column;
  }

  .blog__post {
    margin: 2rem 0;
    grid-column: 2 / -2;
  }

  .blog__post-excerpt {
    font-size: 0.9rem;
  }

  .blog__post-title {
    margin-top: 3rem;
  }

  .blog__post-text p {
    font-size: 0.95rem;
    line-height: 1.75rem;
  }
}

.latestBlogPosts_container,
.error {
  margin-top: 5rem;
  grid-column: 2 / -2;
}

.latestBlogPosts_container h1 {
  text-align: center;
}

.latestBlogPosts__posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
}

.latestBlogPosts__posts h4 {
  font-size: 1.35rem;
}

.latestBlogPosts__posts p {
  font-size: 1rem;
}

ul {
  list-style: none;
}

.ul-item {
  font-size: 1.15rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 17fr;
}

.ul-item::before {
  content: "✤";
  color: var(--color-blog);
  display: block;
  align-self: center;
  padding: 0;
}

@media (max-width: 900px) {
  .latestBlogPosts__posts {
    display: flex;
    flex-direction: column;
  }

  .ul-item {
    font-size: 0.9rem;
  }
}
/* BUTTONS - GENERAL */

button {
  border: none;
  background-color: inherit;
  font-family: inherit;
  font-size: 1rem;
}

/* SIDEBAR */

.category_list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 2rem;
}

.category_list > li {
  padding: 0;
  margin-bottom: 0.5rem;
}

.category_btn {
  margin-left: -0.4rem;
  color: var(--dark-gray);
  font-size: 0.9rem;
}

.filter_btn {
  color: var(--color-dark-bg);
}

.category_btn:hover {
  font-weight: bold;
}

button.active {
  color: var(--color-blog);
  font-weight: bold;
}

@media (max-width: 900px) {
  .category_btn {
    font-size: 0.8rem;
  }
}

.post_category {
  font-size: 0.9rem;
}

/* PAGINATION */

.pagination {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pagination-btn {
  padding: 0.5rem 1rem;
  opacity: 0.75;
  background-color: var(--color-blog);
  color: white;
  font-weight: bold;
  font-size: 0.85rem;
  border-radius: 5px;
}

.pagination-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* ERROR PAGE */
.error {
  grid-column: 2 / -2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* VERBS EXERCISER */
.verbs-practice {
  grid-column: 2 / -2;
}

.verbs__radio-group-title {
  display: inline-block;
  margin-right: 1rem;
}

.verbs__radio-group {
  margin-bottom: 15px;
}

.verbs__radio-label {
  display: inline-block;
  margin-right: 15px;
  cursor: pointer;
}

.verbs__radio-label input {
  margin-right: 5px;
}

.verbs__verbs-area {
  display: flex;
}

input {
  /* border-bottom: 1px solid var(--color-main); */
  outline: none;
}

.verbs__verbs-area_infinitive {
  min-width: 15rem;
}

.verbs__forms-area {
  width: 100%;
  display: grid;
  column-gap: 4rem;
  grid-template-areas:
    "a b c d"
    "e f g h";
}

.generate {
  grid-area: a;
}

.verbs__forms-area_item:nth-child(2) {
  grid-area: b;
}
.verbs__forms-area_item:nth-child(3) {
  grid-area: c;
}
.verbs__forms-area_item:nth-child(4) {
  grid-area: d;
}
.verbs__random {
  grid-area: f;
}
.psimple {
  grid-area: g;
}
.pparticiple {
  grid-area: h;
}
