* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: flex;
    flex-direction: column;
  font-family: sans-serif;
}

.header {
  max-height: 6rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  background-color: rebeccapurple;
  padding: 1.5rem 0;
}

.site-title {
  grid-column: 2 / span 4;
  font-size: 3rem;
  color: gray;
  font-weight: 700;
}

nav {
  grid-column: 10 / -2;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  position: absolute;
  transform: translateX(-100%)
}

.nav-link-item {
  margin-left: 2rem;
}

.nav-link-text {
  text-align: right;
  text-decoration: none;
  font-size: 1.25rem;
  color: white;
}

.main {
  max-width: 800px;
  padding: 4rem 5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.heading {
  color: rebeccapurple;
}

.blog-list {
  margin: 3rem 0;
  list-style: none;
}

.blog-list-item {
  font-size: 1.5rem;
}

/* FOOTER */
.footer {
  margin-top: auto;
  max-height: 6rem;
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rebeccapurple;
  padding: 1.5rem 0;
  font-size: 1.15rem;
  color: white;
}
